<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240428690709-p9qlegob4bjhmph9ontvp2hqj58u3q1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240428690709-p9qlegob4bjhmph9ontvp2hqj58u3q1a</string>
	<key>API_KEY</key>
	<string>AIzaSyCvQYTqWsXLUupzNWcxCSZtPdxHKIRMMf4</string>
	<key>GCM_SENDER_ID</key>
	<string>240428690709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>starvian.EaseChat</string>
	<key>PROJECT_ID</key>
	<string>iosfinalproject-56ab0</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfinalproject-56ab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240428690709:ios:5f863fa1c5e7cc0e984d1c</string>
</dict>
</plist>